[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/sagmor/oh-my-zsh.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/coffeescript"]
	path = vim/bundle/coffeescript
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/wycats/nerdtree.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = git://github.com/vim-scripts/bufexplorer.zip.git
[submodule "vim/bundle/zencoding"]
	path = vim/bundle/zencoding
	url = git://github.com/vim-scripts/ZenCoding.vim.git
[submodule "vim/bundle/rooter"]
	path = vim/bundle/rooter
	url = git://github.com/airblade/vim-rooter.git
